
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright text-center py-3">© 2023 Copyright:
		<a href="/">WorldBrico</a>
		<a href="/contact">Nous contacter</a>
            </div>
        </div>
    </div>
</footer>
