{# <div class="footer">
    <div class="footer-container text-center py-3">© 2023 Copyright:
        <a href="/">WorldBrico</a>
        <a href="/contact">Nous contacter</a>
    </div>
</div> #}
<footer class="footer1">
    <div class="container-fluid">
        
            
                <div class="footer text-center py-3">© 2023 Copyright:
                    <a href="/">WorldBrico</a>
                        <a href="/contact">Nous contacter</a>
                </div>
            
        
    </div>
</footer>


        
   

