<div class="titreAccueil">
            <div class="titre"> 
                <center>WORLDBRICO</center>  
            </div>            
                 <button type="button" class="btn btn-success">Connexion</button>   
        </div> 