
.footer1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #f0f3f3;
  color: #FFFFFF;
}

.imagesHeader {

  width: 100vw;
  height: 100vh;
  background-image: url("/images/fond1.jpg") !important;
  
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: left; */
  background-attachment: fixed;
  
}



