{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">

<h1>Bienvenue sur le panneau Administration</h1>
<div>
<a href="{{ path("app_accueil") }}", class="badge bg-dark" title="Accueil">Revenir à l'accueil</a>

        </div>
    </div>
</div>
{% endblock %}